*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-size: 25px;
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/Header.jpeg);
    background-size: cover;
    background-position: center;
} */
.container{
    padding: 10px 10%;
}    


nav {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(88, 93, 221);
    text-decoration: none;
    font-size: 30px;
    position:relative;
}

nav ul li a::after{
    content: " ";
    width: 0 ;
    height: 5px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;

}
.header-text{
    margin: top 10%;
    font-size: 20px;

}
.header-text h1{
    font-size: 70px;
    margin-top: 0%;
}
.header-text h1 span{
    color: rgb(88, 93, 221);
}
/* ABOUT ME SECTION */
/* About me text was same as background so change to white */
.about-col-2{
    color: white;
}
#about{
    padding:80px 0;
    color: aqua;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
width: 100%;
border-radius: 15px;
}
/* .about-col-2{ */
    /* color: white; */
/* } */

.about-col-2{
flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(88, 93, 221);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 5px;
    background: rgb(88, 93, 221);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
     
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(88, 93, 221);
    font-size: 36px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* WORK SECTION */
#work{
    padding: 30px 0;
}
.work-list{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(25px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
/* Color change for Work font */
.work-list{
    color: rgb(88, 93, 221);
}
.work-list div{
    background: #262626;
    padding: 40px;
    font-size: 23px;
    font-weight: 300;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
}
.work-list div h2{
    font-size: 50px;
    font-weight: 500;
   margin-bottom: 15px;
}
.work-list div a{
    text-decoration: none;
    color: red;
    font-size: 25px;
    margin-top: 20px;
    /* display: inline-block; */
    content: " ";
    width: 0 ;
    height: 5px;
    /* background: red; */
    /* position: absolute; */
    /* left: 0; */
    /* bottom: -6px; */
    transition: 0.5s;
}

.work-list div:hover{
    background: white;
    transform: translateY(-10px);
}

/* RESUME */
#resume{
    padding: 50px 0;
}
#resume h1 a{
    text-decoration: none;
}

/* CONTACT ME */
.contact-left {
    color: rgb(88, 93, 221);
    flex-basis: 35%;
}
.contact-right{
    /* color: rgb(88, 93, 221); */
    font-size: 80px;
    flex-basis: auto;
}
.contact-left p {
    margin-top: 30px;
}
.btn{
    display: inline-block;
    background: #262626;
    font-size: 25px;
    width: 150px;
    margin: 0 .5%;
    font-size: 100%;
    color: rgb(88, 93, 221);
    border: 1px solid rgb(88, 93, 221);
    cursor: pointer;
    border-radius: 10px;
    padding: 14px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px ;
    color: rgb(88, 93, 221);
    font-size: 30px;
    border-radius: 10px;
}

/* CSS FOR SMALL SCREENS */
@media only screen and (max-width: 600px){
    #header{
        background-image: url("./images/F4BC24E1-E2A2-4656-81E6-38EFFCA9FB28_1_105_c.jpeg");
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
        
    }
    .sub-title{
        font-size: 55px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        margin: 30px;
        font-size: 35px;
    }
    .tab-links{
        margin: 20px;
        font-size: 45px;
    }
    .work-list div{
        flex-basis: 100%;
    
    }
    .work-list div p{
        font-size: 30px;
        display: inline-block;
    }
    .contact-left{
        flex-basis: 100%;
        margin: 70px;
        
    }
    .contact-left p{
        font-size: 45px;
    }
    .contact-right form{
        font-size: 45px;
    }
    /* .contact-left p{ */
        /* {font-size: 40px; */

        /* } */

}










/*button{
    width: 150px;
    margin: 0 .5%;
    font-size: 100%;
    background-color: black;
    color: aquamarine;
    border: 2px solid white;
}
button:hover{
    background-color: white;
    color: red;
}
button:active{
    font-size: 120%;
    box-shadow: 0 0 10px white inset;    
}

button:focus{
    outline: none;
    border-color: red;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: black;
    color: aquamarine;
}